.task {
    height: 100%;
    background-color: rgb(163, 163, 163);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    flex-wrap: wrap;
    
    
}
.title{
    text-align: left;
    width: 350px;
    word-wrap:break-word;
}
.buttonClose {
    color:red;
    margin-left: 10px;
}
.buttonInfo {
    color:blue;
    margin-left: 10px;
}